@model Taller.Models.Citas

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Citas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CitaID" />
            <div class="form-group">
                <label asp-for="MecanicoID" class="control-label"></label>
                <input asp-for="MecanicoID" class="form-control" />
                <span asp-validation-for="MecanicoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraCita" class="control-label"></label>
                <input asp-for="HoraCita" class="form-control" />
                <span asp-validation-for="HoraCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCita" class="control-label"></label>
                <input asp-for="FechaCita" class="form-control" />
                <span asp-validation-for="FechaCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCita" class="control-label"></label>
                <input asp-for="EstadoCita" class="form-control" />
                <span asp-validation-for="EstadoCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicioID" class="control-label"></label>
                <input asp-for="ServicioID" class="form-control" />
                <span asp-validation-for="ServicioID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
