@model IEnumerable<Taller.Models.Mecanico>

@{
    ViewData["Title"] = "Usuarios";
}
<section>
<h1>Usuarios</h1>

<p>
        <a class="btn btn-success" style="background-color: #008374;" asp-action="Create">Crear Nuevo</a>
</p>

@await Html.PartialAsync("_MecanicoPartial", Model)

</section>